@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import 'https://fonts.googleapis.com/css?family=Work+Sans:200';
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:100';

// Colors
$white: #FFFFFF;
$black: #000000;
$light_white_1: #F5F5F5;
$light_white_2: #E3E3E3;
$light_red_black_1: #5a5151;
$light_red_black_2: #433a3a;
$light_red_black_3: #3e3434;
$light_red_black_4: #2b2424;
$button_hover_color: #534b4b;
$button_text_color: #bcbcbc;
$calc_bgcolor_focus: #110e0e;
$yellow: #ffa621;
$light_yellow: #e99920;
// $bgcolor: #7e5a5a;
$bgcolor: #212123;
$calc_bgcolor: #212123;
$button_bg_color: #282828;
$button_bg_color_hover: #343434;
$button_bg_color_focus: #212123;
$control_bg_color: #343434;
$control_bg_color_hover: #212123;
$control_bg_color_focus: #212123;
$equal_bg_color: #2196F3;
$equal_bg_color_hover: #64B5F6;
$display_bg_color: #282828;
$display_expression_text_color: #757575;
$display_result_text_color: #FFFFFF;

// Dimensions
$calculator_height: 400px;
$calculator_width: 500px;

// font
$light_font_family_1: 'Work Sans';
$light_font_family_2: 'Roboto Slab';

// Styles
body {
	background: $bgcolor;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: $light_font_family_1;
}

.calculator {
  height: $calculator_height;
	width: $calculator_width;
  position: relative;
  background: $calc_bgcolor;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);

  .display {
    font-family: inherit;
    background: $display_bg_color;
	  color: $white;
    height: 20%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  	justify-content: space-around;
    align-items: flex-end;
		padding: 0 20px;

		.expression {
			font-size: 18px;
      display: flex;
    	align-items: center;
    	justify-content: center;
			color: $display_expression_text_color;
		}
		.result {
			font-size: 36px;
      display: flex;
    	align-items: center;
    	justify-content: center;
			color: $display_result_text_color;
		}
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80%;
		padding: 5px;

    .button {
      font-family: inherit;
    	box-sizing: border-box;
      display: flex;
    	align-items: center;
    	justify-content: center;
    	width: 22%;
    	font-size: 24px;
			background: $button_bg_color;
    	color: $button_text_color;
    	height: 15%;
			margin: 6px;
			cursor: pointer;

			&.control {
				background: $control_bg_color;
			}

			&.control:hover {
				background: $display_bg_color;
			}

			&.control:focus {
				background: $control_bg_color_hover;
			}

			&.equal {
				background: $equal_bg_color;
				color: $white;
			}

			&.equal:hover {
				background: $equal_bg_color_hover;
			}

			&::selection {
				background: none;
			}

			&:hover {
				background: $button_bg_color_hover;
			}

			&:focus {
				background: $button_bg_color_focus;
				box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
			}
    }
  }
}
